In [68]:
import pandas as pd
import os
import platform

SO = platform.system()

In [69]:
# Set paths based on OS
if SO == 'Windows':
    BASE_INPUT  = r'C:\Users\jefersson.souza\OneDrive - Açotel Indústria e Comércio LTDA\#PCP\Necessidade - Slitter\Files\input'
    BASE_OUTPUT = r'C:\Users\jefersson.souza\OneDrive - Açotel Indústria e Comércio LTDA\#PCP\Necessidade - Slitter\Files\output'
else:  # Linux, macOS, etc.
    BASE_INPUT  = r'/home/stark/Documentos/Dev/Necessidade - Slitter/Files/input'
    BASE_OUTPUT = r'/home/stark/Documentos/Dev/Necessidade - Slitter/Files/output'

print(f"Sistema Operacional: {SO}")

Sistema Operacional: Linux

In [70]:

df_CR_itl50_01  = pd.read_excel(os.path.join(BASE_INPUT, 'CR-ITL50-1-EXPORT.xlsx'))
df_CR_itl50_02  = pd.read_excel(os.path.join(BASE_INPUT, 'CR-ITL50-2-EXPORT.xlsx'))
df_CR_itl75_01  = pd.read_excel(os.path.join(BASE_INPUT, 'CR-ITL75-1-EXPORT.xlsx'))
df_CR_itl100_01 = pd.read_excel(os.path.join(BASE_INPUT, 'CR-ITL100-1-EXPORT.xlsx'))
df_CR_itl130_01 = pd.read_excel(os.path.join(BASE_INPUT, 'CR-ITL130-1-EXPORT.xlsx'))

df_itl50_01  = pd.read_excel(os.path.join(BASE_INPUT, 'ITENS-ITL50-1-EXPORT.xlsx'))
df_itl50_02  = pd.read_excel(os.path.join(BASE_INPUT, 'ITENS-ITL50-2-EXPORT.xlsx'))
df_itl75_01  = pd.read_excel(os.path.join(BASE_INPUT, 'ITENS-ITL75-1-EXPORT.xlsx'))
df_itl100_01 = pd.read_excel(os.path.join(BASE_INPUT, 'ITENS-ITL100-1-EXPORT.xlsx'))
df_itl130_01 = pd.read_excel(os.path.join(BASE_INPUT, 'ITENS-ITL130-1-EXPORT.xlsx'))

In [71]:
df_cronograma_grup = pd.concat([df_CR_itl50_01, df_CR_itl50_02, df_CR_itl75_01, df_CR_itl100_01, df_CR_itl130_01], ignore_index=True)
df_itens_cronograma_grup = pd.concat([df_itl50_01, df_itl50_02, df_itl75_01, df_itl100_01, df_itl130_01], ignore_index=True)

In [72]:
df_cronograma = df_cronograma_grup.groupby(['Ordem','Data sequenciamento'])['Quantidade'].sum().reset_index()
df_cronograma = df_cronograma[df_cronograma['Quantidade']>1]

In [73]:
df_itens_cronograma = df_itens_cronograma_grup[df_itens_cronograma_grup['Qtd.necessária (EINHEIT)']>1]
df_itens_cronograma = df_itens_cronograma.groupby(['Ordem', 'Material','Texto breve material'])['Qtd.necessária (EINHEIT)'].sum().reset_index()

In [74]:
df_itens_cronograma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Ordem                     86 non-null     int64
 1   Material                  86 non-null     int64
 2   Texto breve material      86 non-null     object
 3   Qtd.necessária (EINHEIT)  86 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 2.8+ KB

In [75]:
df_itens_cronograma.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Ordem                     86 non-null     int64
 1   Material                  86 non-null     int64
 2   Texto breve material      86 non-null     object
 3   Qtd.necessária (EINHEIT)  86 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 2.8+ KB

In [76]:

df_iten_necessidade = df_itens_cronograma.merge(
    df_cronograma[['Ordem', 'Data sequenciamento']].drop_duplicates(subset='Ordem', keep='first'),
    on='Ordem',
    how='left'
)

In [77]:
df_iten_necessidade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Ordem                     86 non-null     int64
 1   Material                  86 non-null     int64
 2   Texto breve material      86 non-null     object
 3   Qtd.necessária (EINHEIT)  86 non-null     float64
 4   Data sequenciamento       68 non-null     datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 3.5+ KB

In [78]:
df_iten_necessidade.tail()

,Ordem,Material,Texto breve material,Qtd.necessária (EINHEIT),Data sequenciamento
81,1196003,200390,"FT FQ 2.1/2"" 1,50X198,0MM",10000.0,2026-02-20
82,1196004,200309,"FT FQ 2.1/2"" 3,00X194,0MM",20000.0,2026-02-20
83,1196079,200222,"FT FQ 2""PT 2,25X186,0MM",20000.0,2026-02-19
84,1196081,200245,"FT FQ 2""PT 2,00X187,0MM",10000.0,2026-02-19
85,1196788,200915,"FT FQ 2""PT 1,50X188,5MM",10000.0,2026-02-19